<?php

// The library for languages support
use mirzaev\languages\language;

// Initializing dependencies
require ROOT . 'vendor' . DIRECTORY_SEPARATOR . 'autoload.php';

define('PROJECT_NAME', '');
define('PROJECT_DOMAIN', '');

define('LANGUAGE_DEFAULT', language::en);

// Initializing default theme for the views templater
define('THEME', 'default');
