<?php

// The library for languages support
use mirzaev\languages\language;

// The library for currencies support
use mirzaev\currencies\currency;

// Initializing dependencies
require ROOT . 'vendor' . DIRECTORY_SEPARATOR . 'autoload.php';

define('SERVER_IP_ADDRESS', '5.140.110.25');

define('REPOSITORY', 'https://git.svoboda.works');

define('PROJECT_CREATOR', 'kodorvan');
define('PROJECT_NAME', 'constructor');
define('PROJECT_DOMAIN', 'constructor.kodorvan.tech');
define('PROJECT_CERTIFICATE', SETTINGS . DIRECTORY_SEPARATOR . 'certificate' . DIRECTORY_SEPARATOR . 'public.pem');
define('PROJECT_MEDIA_URL', 'https://t.me/kodorvan');
define('PROJECT_OPERATOR_URL', 'https://t.me/kodorvan?direct');
define('PROJECT_REPOSITORY', REPOSITORY . '/' . PROJECT_CREATOR . '/' . PROJECT_NAME);
define('PROJECT_REPOSITORY_LANGUAGE_ADD',  PROJECT_REPOSITORY . '/src/branch/stable/' . PROJECT_CREATOR . '/' . PROJECT_NAME . '/system/localizations');

define('CURRENCY_DEFAULT', currency::usd);
define('LANGUAGE_DEFAULT', language::en);

define('PROJECT_CREATE_START_HOURS', 1);
define('PROJECT_CREATE_START_COEFFICIENT', 0);
define('PROJECT_CREATE_HOURS_ADDITIONAL', 0);
define('PROJECT_CREATE_HOURS_MINIMAL', 4);
define('PROJECT_CREATE_DAY_HOURS', 4);
define('PROJECT_CREATE_DAY_ADDITIONAL', 1);
define('PROJECT_CREATE_COST_HOUR_DEFAULT', 20);
define('PROJECT_CREATE_COST_CURRENCY', CURRENCY_DEFAULT);

define('PROJECT_CREATE_REQUEST_RECEIVERS', [
	'-0000000000000'
]);

// Initializing default theme for the views templater
define('THEME', 'default');
