<?php

// Telegram API chat-robot
return [
	'identifier' => 0,
	'domain' => 'kodorvan_bot',
	'name' => 'kodorvan',
	'password' => '',
	'key' => '',
	'database' => [
		'host'     => '/run/mysqld/mysqld.sock',
		'port'     => 3306,
		'user'     => '',
		'password' => '',
		'database' => '',
	]
];

